body {
  background-color: whitesmoke;
}

.me {
  background-image: url("./images/background.jpg");
  background-size: cover;
}

.list-group {
  text-align: center;
}

.contact {
  text-align: center;
}

.btn {
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: cornflowerblue;
}

.download {
  text-decoration: none;
  color: black;
}

.linkedin {
  border: none;
  background: none;
}

.github {
  border: none;
  background: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.projects {
  text-decoration: none;
  color: rgb(255, 78, 78);
}

#welcome {
  font-family: Oswald;
  font-size: 100px;
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  text-shadow: 10px 10px #f0f0f0;
}

@keyframes Color {
  0% {
    color: #0ab6f3;
  }

  20% {
    color: #5e97b9;
  }

  40% {
    color: #eafcff;
  }

  60% {
    color: #e6f4f1;
  }

  80% {
    color: #0ab6f3;
  }

  100% {
    color: #ac92ec;
  }
}

@-moz-keyframes Color {
  0% {
    color: #0ab6f3;
  }

  20% {
    color: #5e97b9;
  }

  40% {
    color: #eafcff;
  }

  60% {
    color: #e6f4f1;
  }

  80% {
    color: #0ab6f3;
  }

  100% {
    color: #ac92ec;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #0ab6f3;
  }

  20% {
    color: #5e97b9;
  }

  40% {
    color: #eafcff;
  }

  60% {
    color: #e6f4f1;
  }

  80% {
    color: #0ab6f3;
  }

  100% {
    color: #ac92ec;
  }
}

#me {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#developer {
  animation-delay: 2s;
  animation-duration: 4s;
  animation-name: slidein;
  animation-fill-mode: both;
  visibility: hidden;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    visibility: hidden;
    opacity: 0;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
    visibility: visible;
    opacity: 1;
  }

  to {
    margin-left: 0%;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
}
