h2{ color: palevioletred; 
font-style: oblique;
font-size: 40px;
text-align: center;}

.banner {
        background-image: url('banner.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
        ;
}

.topic {
	color: firebrick;
	background-color: paleturquoise;
	font-size: 4rem;
	font-style: oblique;}

#task {
	font-size: 1.3rem;
	color: maroon;
}

#requirements {
	font-size: 1.3rem;
	color: maroon;
}

#submission {
	font-size: 1.3em;
	color: maroon;
}

#grading {
	font-size: 1.3rem;
	color: maroon;
}


header {
  background-color: lightpink;
  padding: 20px;
  text-align: center;

}

.banner {
  font-size: 2.2rem;
  font-family: Arial, sans-serif;
  color: darkred;
}

.menu a {
  color: crimson;
  text-decoration: underline;
  font-size: 1.5rem;
}

.menu .active {
  color: lightblue;
}

.menu a:hover {
  color: green;
}

.menu a:visited {
  color: gray;
}

h3 {text-align: center;
font-style: italic;
font-style: oblique;
font-size: 25px;
color: darkred;}

.aside_content {
	font-size: 1.7rem;
	color: teal;
}

body {
  background-color: lightcyan;
}

h4 {

font-size: 1.7rem;
color: royalblue;}



.categories .active {
  color: lightblue;
}

.categories a:hover {
  color: green;
}

.categories a:visited {
  color: gray;}


.quick_links .active {
  color: lightblue;
}

.quick_links a:hover {
  color: green;
}

.quick_links a:visited {
  color: gray;}

h5 {

font-size: 1.5rem;
color: royalblue;}


img {
  border: 5px solid black;
}

butto {
	background: none;
	border: 0;
	position: relative;
}

button :after {
	content: '';
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #FFAB90;

	position: absolute;
	top: -50%;
	left: -10px;

	opacity: 0.3;
	z-index: -1;
}

#dummy, .contacts, .menu {
	display: flex;
}

@media screen and (max-width: 400px) {
	img {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}
	img {
		display: block;
		margin: 20px auto;
	}
	body {
		margin: 3rem 2% 2rem;
	}
	#dummy, .contacts, .menu {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}

@media screen and (min-width: 1024px) {
	h1, h2, h3, h4, h5, h6 {
		text-align: left;
		text-decoration: underline;
	}
	img {
		display: block;
		margin-left: 0;
	}
	body {
		margin: 8rem 10% 5rem;
	}
	#dummy, .contacts, .menu {
		flex-direction: row;
		justify-content: space-between;
	}
}